* {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  -webkit-user-select: none;      
  -moz-user-select: none; 
  -ms-user-select: none; 
}


body {
  background:white;
}

.container {
  width: 600px;
  margin: auto;

}

.calc-body {
  width: 320px;
  background: #3A4655;
  margin: auto;
  border: solid 1px #3A4655;
  box-shadow: 0 8px 50px -7px black;
}

.calc-input {
  padding-top: 20px;  
  font-size: 40px;
  text-align: right;
  color: #fff;  
  width: 304px;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  background:#3A4655;
}

.calc-button-row {
  width: 100%;  
  background: #3C4857 ;
}

.button {
  width: 25%;
  height: 95px;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out;
}

.button.ops {
  color: #AEB3BA;
  text-align: center;
  vertical-align: middle;
  background: #404D5E;
}

* .button:hover {
  background: rgb(17, 160, 226);  
  color: #fff;
}

.double:hover {
  background: rgb(17, 160, 226);
  color: #fff;
}


.double {
  width: 48.9%;
  height: 95px;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out; 
}

.pointer {cursor: pointer;}